<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8"/>
  <title>List of Products</title>
</head>
<body>

<!--/*@thymesVar id="product" type="com.online.shop.online_shop.model.Product"*/-->
<h2>Products</h2>

<table id="products" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Availability</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product:${products}">
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.availability}"></td>
    <td th:text="${product.description}"></td>
    <td th:switch="${product.availability.name()}">
      <a th:case="'AVAILABLE'" th:href="@{'/order/product/{name}'(name=${product.name})}"><button>Order product</button></a>
      <span th:case="*">Not allowed</span>
    </td>
  </tr>
  </tbody>
</table>
<br/><br/>
<div class="homeBut">
<a th:href="@{'/welcomePage'}"><button>Home</button></a><br/><br/>
</div>
</body>
</html>

